<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title> 
  
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">  

        <link rel="shortcut icon" href="/template/assets/img/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" href="/template/assets/img/icon.png">

        {% block stylesheets %} 
            <link rel="stylesheet" href="{{ asset('/template/assets/css/bootstrap.css')}}">  
            <link rel="stylesheet" href="{{ asset('/template/assets/css/vendor.css')}}"> 
            <link rel="stylesheet" href="{{ asset('/template/assets/css/main.css')}}">   
        {% endblock %} 
    </head>
    <body> 
        {% block content %}{% endblock %}
        {% block javascripts %}  
            <script src="{{ asset('/template/assets/js/vendor.js') }}"></script> 
            <script src="{{ asset('/template/assets/js/main.js') }}"></script>
            <script src="{{ asset('/template/assets/js/custom.js') }}"></script> 
        {% endblock %} 
    </body>
</html>
